<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Atividade 2</title>
</head>
<body>
    <figure>
        <img src="https://fps.cdnpk.net/images/home/subhome-ai.webp?w=649&h=649" alt="">
        <figcaption>Imagem da atividade 1</figcaption>


        <img class="image2" src="https://t3.ftcdn.net/jpg/06/15/49/68/360_F_615496890_W34yB8VDE6n5pehb5QCt1ek5oEvRo9qA.jpg" alt="">
        <figcaption>Imagem da atividade 2</figcaption>

    </figure>
</body>
</html>