body {
    display: flex;
    justify-content:center ;
    flex-direction: column;
}

figure .image2 {
    width: 54vw;
    height: auto;
}

body {
    background-image: url("https://s2-techtudo.glbimg.com/YV466w-hUwF_dTQIHPj_sbg9pW4=/0x0:1536x864/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2024/P/F/9THicRSG2c2VTkIKVkAw/imagine.art-ai-2.png");
}