<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOS RS login</title>
    <link rel="stylesheet" href="./sass//index.css">
</head>

<body>
    <div class="container">
        <div class=" content first-content">
            <div class="first-column">
                <h2 class="title title-welcome">Welcome Back!</h2>
                <p class="description">To keep connected with us</p>
                <p class="description">please login with your personal info</p>
                <button class="btn">Entrar</button>
            </div>

            <div class="second-column">
                <h2 class="title"> Create Account</h2>


                <form class="form">
                    <div class="step-account">
                        <div>
                            <label for="name">Usuário</label>
                        </div>
                        <input type="text">
                    </div>


                    <div class="step-account">
                        <div>
                            <label for="password">Senha</label>
                        </div>
                        <input type="password">
                    </div>

                    <div class="step-account">
                        <div>
                            <label for="email">Email</label>
                        </div>
                        <input type="email">
                    </div>

                    <button class="btn">Cadastre-se</button>

                </form>
            </div>
        </div>
    </div>
</body>

</html>